/*Google Fonts*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*Selector Combinator: Type_Selector Class_Selector*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: center;
	margin-bottom: 3rem;
	line-height: 1.75rem;
}

.header {
	text-align: center;
	margin-bottom: 1rem;
	background: #FF0000;
	background: linear-gradient(to right, #FF0000 0%, #FFF836 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	margin-top: 2rem;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-bottom: 3rem;
}

#succeed-info h2 {
	background: #FF0000;
	background: linear-gradient(to right, #FF0000 0%, #FFF836 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 1rem;
	font-weight: 700;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer div {
	color: white;
	display: inline-block;
	vertical-align: bottom;
	width: 20%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	background-color: #002540;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#pre-footer h3 {
	background: #FF0000;
	background: linear-gradient(to right, #FF0000 0%, #FFF836 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
}